@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
	background-color: black;
}

* {
	color: white;
	font-family: 'Courier Prime', monospace;
	text-shadow: 0px 0px 20px #ffffff;
}

.center {
	width: 10vw;
	position: absolute;
	left: 50%;
	text-align: left;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.center {
	  width: 25vw;
	}
  }



a {
	text-decoration: none !important; 
}

.ending {
	color: #fff;
}

/*#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}*/

.bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	height: 100%;
	filter: brightness(50%);
}
