@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
	background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 20%; /* or any other percentage you'd like */
    max-width: 1200px; /* or the maximum width you'd like */
	min-width: 100px;
}

* {
	color: white;
	font-family: 'Courier Prime', monospace;
	text-shadow: 0px 0px 20px #ffffff;
}


a {
	text-decoration: none !important; 
}

.ending {
	color: #fff;
}

.bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	height: 100%;
	width: 100%;
	filter: brightness(50%);
	z-index: -999;
}

.btn {
	background: none;
	border: 1px #fff solid;
	border-radius: 5px;
	width: 100%;
}
