@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
	background-color: black;
}

* {
	color: white;
	font-family: 'Courier Prime', monospace;
	text-shadow: 0px 0px 20px #ffffff;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
}

.ending {
	color: #fff;
}
